/**
 * Rah Power Addons - Progress Bar Widget CSS
 */

/* Progress Bar Widget Styles */
.rahad-mg-progress {
    position: relative;
    width: 100%;
    padding: 10px;
}

.rahad-mg-progress span.rahad-progress-background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.rahad-mg-progress .rahad-mgp-percent {
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: bold;
}

.rahad-bganimate-hide .rahad-progress-line:after {
    content: inherit;
}

.rahad-mgp-top-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}

.rahad-mgp-title {
    font-weight: bold;
}

.rahad-mgp-percent {
    font-weight: bold;
    visibility: hidden;
}

.rahad-progress-container {
    position: relative;
    height: 20px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    padding: 2px;
}

.rahad-progress-line {
    display: block;
    height: 100%;
    width: 0;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
        center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%
    );
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 2px;
}

.rahad-progress-line:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: rahad-move 2s linear infinite;
    overflow: hidden;
}

@keyframes rahad-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

/* Progress Bar Color Variations */
.rahad-mg-progress.rahad-orange .rahad-progress-line {
    background-image: linear-gradient(#f1a165, #f36d0a);
}

.rahad-mg-progress.rahad-red .rahad-progress-line {
    background-image: linear-gradient(#f0a3a3, #f42323);
}

.rahad-mg-progress.rahad-nostripes .rahad-progress-line:after {
    background-image: none;
}

/* Animation */
.rahad-mg-progress.animate .rahad-progress-line {
    width: 0;
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}

/* Progress Bar Title */
.rahad-mg-progress .rahad-mgp-title {
    display: inline-block;
    margin-right: 10px;
}

/* Progress Bar Percentage */
.rahad-mg-progress .rahad-mgp-percent {
    display: inline-block;
}
